html
    head
        title Artists
        link(rel = "stylesheet" type = "text/css" href = "/styles.css")
    body
        include ../views/links
        each i in data
            br
            a(href = `/artist/${i._id}`) #{i.artistName}
            br
            