html
    head
        title Gallery
        link(rel = "stylesheet" type = "text/css" href = "/styles.css")
    body
        include ../views/links
        each i in data
            br
            a(href = `/gallery/${i._id}`) #{i.Title}
            br
            