html
    head
        title Main Menu
        link(rel = "stylesheet" type = "text/css" href = "/styles.css")
    body
        a(href = "/") Menu
        br
        a(href = "/gallery") Gallery
        br
        a(href = "/login") Login
        br
        a(href = "/newaccount") New Account
        br
        a(href = "/artistPage") Artists
        br
        a(href = "/addArt") Add Art
        br
        a(href = "/addWorkShop") Add Worskhop
        br
        a(href = "/workshop") Workshops
        br
        a(href = "/search") Search
        br
        a(href = "/profile") Profile