html
    head
        title Log in
        link(rel = "stylesheet" type = "text/css" href = "/styles.css")
    body
        include ../views/links
        div#info 
        div#main
            div#left(class = 'column left')
            div#middle(class = 'column middle')
                h5 Enter username: 
                
                input#username(type='text', name='username')
                h5 Enter password: 
                
                input#password(type='text', name='password')
                
                div.button1
                    button#login(type = "button" onclick="login()") Login
            div#right(class = 'column right')
    script(src = "/login.js")