html
    head
        title Main Menu
        link(rel = "stylesheet" type = "text/css" href = "/styles.css")
    body
        include ../views/links
        div#info 
        div#main
            div#left(class = 'column left')
            
            div#middle(class = 'column middle')
                h1 Add new Item:
                h1 Product Name: 
                
                input#name(type='text', name='name')
                h1 Product Vendor: 
                
                input#vendor(type='text', name='vendor')
                
                h1 Product Description: 
                
                input#description(type='text', name='description')
                
                h1 Product Price: 
                
                input#price(type='text', name='price')
                
                h1 Product Category: 
                
                input#category(type='text', name='category')
                
                
              
                h1 Product Stock: 
                
                input#stock(type='text', name='stock')
                h1 Product Rating: 
                
                input#rating(type='text', name='rating')
                br
                br
                br
                div.button1
                    button#update(type = "button" onclick="updateItem()") Update Item
            div#right(class = 'column right')
    script(src = "/newPage.js")