html
    head
        title Main Menu
        link(rel = "stylesheet" type = "text/css" href = "/styles.css")
    body
        include ../views/links
        h2 Welcome to the website lol
        h5 Update, delete and add items to the database