html
    head
        title Search
        link(rel = "stylesheet" type = "text/css" href = "/styles.css")
    body
        include ../views/links
        div#info 
        div#main
            div#left(class = 'column left')
            div#middle(class = 'column middle')
                h5 Enter Medium: 
                
                input#medium(type='text', name='medium')
                h5 Enter Category: 
                
                input#category(type='text', name='category')
                
                div.button1
                    button#login(type = "button" onclick="search()") Search
            div#right(class = 'column right')
                div#abc
    script(src = "/search.js")