html
    head
        title Main Menu
        link(rel = "stylesheet" type = "text/css" href = "/styles.css")
    body
        include ../views/links
        div#info 
        div#main
            div#left(class = 'column left')
                h5 Product Name:  #{data.name}
                h5 Description: #{data.description} 
            div#middle(class = 'column middle')
                
                div.button1
                    button#update(type = "button" onclick="enroll()") Enroll
            div#right(class = 'column right')
    script(src = "/enroll.js")